[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
mypy = "*"
flake8 = "*"

[packages]
beautifulsoup4 = "<5.0,>=4.4"
requests = "<3.0,>=2.20.0"
lxml = "==3.7.3"
aiohttp = "==2.3.1"
flask = "*"

[requires]
python_version = "3.7"
